body {
    margin: 0;
}

:root {
    --grey-1: #dddddd;
    --grey-2: #aaaaaa;
    --grey-3: #777777;
    --grey-4: #444444;
    --orange: #ff6347;
    --blue: #0080ff;
    font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.orange {
    color: var(--orange)!important
}

.blue-bg {
    background-color: var(--blue)!important
}


.link {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    max-height: 100%;
    margin-top: 10%;
}

.inner-container {
    max-width: 300px;
    background-color: var(--grey-1);
    padding: 10px;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page {
    height: calc(100vh - 50px);
}

label {
    display: flex;
    flex-direction: column;
}

.form-header {
    text-align: center;
}

button {
    padding: 8px 5px;
    border-radius: 5px;
    border-width: 0;
    background-color: var(--orange);
}

input {
    border-radius: 5px;
    border-width: 0;
    padding: 5px;
    margin-top: 2px;
}

.label-header {
    font-weight: 500;
}
